name: pypi

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: config
      run: |
        RELEASE=${GITHUB_REF##*/}
        sed -i -e "s/version=\".*\"/version=\"$RELEASE\"/" setup.py
        echo $RELEASE
        cat setup.py
    - name: Install pip, setuptools, wheel, twine
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
